@using ShopABC.Models

@{
    ViewBag.Title = "Đăng nhập hệ thống";
    Layout = "_Layout_Login";
    @model ShopABC_TaiKhoan

}

<div class="mt-4">
    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(m => m.TenDN)
            @Html.TextBoxFor(m => m.TenDN, new { @class = "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:border-blue-600 focus:ring-1 focus:ring-blue-900", @autofocus = ""})
        </div>
        @Html.ValidationMessageFor(m => m.TenDN, "", new { @class = "text-sm text-red-500", @autocomplete = "off" })
        <div class="mt-4">
            @Html.LabelFor(m => m.MatKhau)
            @Html.PasswordFor(m => m.MatKhau, new { @class = "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:border-blue-600 focus:ring-1 focus:ring-blue-900" })
        </div>
        @Html.ValidationMessageFor(m => m.MatKhau, "", new { @class = "text-sm text-red-500", @autocomplete = "off" })
        <div class="flex items-baseline justify-between">
            <button class="px-3 py-2 mt-4 text-white transition-colors duration-150 border border-transparent bg-blue-800 rounded-lg hover:bg-blue-900 focus:outline-none focus:shadow-outline-blue"
                type="button">
                Đăng nhập
            </button>
            <a href='@Url.Action("QuenMatKhau", "Login")' class="text-sm text-blue-900 hover:underline">Quên mật khẩu?</a>
        </div>
    }
</div>



